*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
h2{
	font-size: 40px;
	color:#000000;
}
table{
	letter-spacing: 1.2px;
}
td{
	text-align: center;
}
button{
	border:none;
	background:#ebebe0 ;
    transition: 1s;
}
/*tr:nth-child(even) {
  background-color: #ffffcc;*/
}
@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}